.card {
    border-radius: 40px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 3.5rem 3.5rem;
    justify-content: center;
    width: 100%;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    background-image: radial-gradient(#AA3F03, #441901);
}

.card-title {
    color: #FFE9D9;
    font-size: 3rem;
    text-align: center;
    margin-top: 2.5rem;
}

.card-image_container {
    max-width: 25rem;
    margin: 0 auto;
    display: flex;
}

.card-image_container img {
    width: 100%;
}

.card_number {
    color: #ffe9d9;
    background-color: #aa3f03cc;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    font-size: 2rem;
    display: flex;
    grid-row: 2;
    margin: -6rem auto 0;
    z-index: 2;
    backdrop-filter: blur(20px);
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-in-left {
    animation-name: slideInLeft;
}

.slide-in-right {
    animation-name: slideInRight;
}